.display-wrapper {
position: absolute;
z-index: 5;
}



.display-text {
position: absolute;
z-index: 6;
}



.arrowup1 {
position: absolute;
top: 156px;
left: 400px;
height: 15px;
width: 16px;
}



.number1 {
left: 393px;
top: 168px;
z-index: 7;
position: absolute;
font: 25pt fallout regular; 
color: #1d8032;
}



.arrowup2 {
position: absolute;
top: 156px;
left: 444px;
height: 15px;
width: 16px;
}



.number2 {
left: 435px;
top: 168px;
z-index: 7;
position: absolute;
font: 25pt fallout regular; 
color: #1d8032;
}



.arrowup3 {
position: absolute;
top: 156px;
left: 487px;
height: 15px;
width: 16px;
}



.number3 {
left: 479px;
top: 168px;
z-index: 7;
position: absolute;
font: 25pt fallout regular; 
color: #1d8032;
}