.display-wrapper {
position: absolute;
z-index: 5;
}



.display-text {
position: absolute;
z-index: 7;
}



.arrowup1 {
position: absolute;
top: 154px;
left: 400px;
height: 15px;
width: 16px;
}



.arrowup1:hover { 
outline: 2px dashed #1d8010; 
outline-offset: -2px;
}



.arrowup1:active { 
outline: 2px dashed #8ccb5e; 
outline-offset: -2px;
}



.timer-hours {
left: 393px;
top: 168px;
z-index: 7;
position: absolute;
font: 25pt fallout regular; 
color: #1d8032;

}



.arrowdown1 {
position: absolute;
top: 200px;
left: 400px;
height: 15px;
width: 16px;
}



.arrowdown1:hover { 
outline: 2px dashed #1d8010; 
outline-offset: -2px;
}



.arrowdown1:active { 
outline: 2px dashed #8ccb5e; 
outline-offset: -2px;
}



.arrowup2 {
position: absolute;
top: 154px;
left: 444px;
height: 15px;
width: 16px;
}



.arrowup2:hover { 
outline: 2px dashed #1d8010; 
outline-offset: -2px;
}



.arrowup2:active { 
outline: 2px dashed #8ccb5e; 
outline-offset: -2px;
}



.timer-minutes {
left: 435px;
top: 168px;
z-index: 7;
position: absolute;
font: 25pt fallout regular; 
color: #1d8032;
}



.arrowdown2 {
position: absolute;
top: 200px;
left: 444px;
height: 15px;
width: 16px;
}



.arrowdown2:hover { 
outline: 2px dashed #1d8010; 
outline-offset: -2px;
}



.arrowdown2:active { 
outline: 2px dashed #8ccb5e; 
outline-offset: -2px;
}



.arrowup3 {
position: absolute;
top: 154px;
left: 487px;
height: 15px;
width: 16px;
}



.arrowup3:hover { 
outline: 2px dashed #1d8010; 
outline-offset: -2px;
}



.arrowup3:active { 
outline: 2px dashed #8ccb5e; 
outline-offset: -2px;
}


.timer-seconds {
left: 479px;
top: 168px;
z-index: 7;
position: absolute;
font: 25pt fallout regular; 
color: #1d8032;
}



.arrowdown3 {
position: absolute;
top: 200px;
left: 487px;
height: 15px;
width: 16px;
}



.arrowdown3:hover { 
outline: 2px dashed #1d8010; 
outline-offset: -2px;
}



.arrowdown3:active { 
outline: 2px dashed #8ccb5e; 
outline-offset: -2px;
}



.stopwatch-time {
left: 393px;
top: 250px;
z-index: 7;
position: absolute;
font: 25pt fallout regular; 
color: #1d8032;
letter-spacing: 1px;
}





#git-cat {
	position: absolute;
	left: 522px;
	top: 161px;
	width: 80px;
	z-index: 8;
	
}


.backing-circle {
	display: block;
	position: absolute;
	left: 523px;
	top: 162px;
	width: 79px;
	height: 79px;
	z-index: 7;
	background-color: #2c3136;
	border-radius: 42px;
	transition: opacity 0.2s ease-in;
	opacity: 0;
	
}

#git-cat:hover + .backing-circle {
	opacity: 0.8;
}

#git-cat:active + .backing-circle {
	background-color: #4b595c;
	opacity: 0.1;
}